<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261284672668-chmeu7gtsuf6ge7jkutehm8dnrse2s1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261284672668-chmeu7gtsuf6ge7jkutehm8dnrse2s1e</string>
	<key>API_KEY</key>
	<string>AIzaSyDNqg_ERVfML8q1qrlbhZWjg0fiSkIiFYM</string>
	<key>GCM_SENDER_ID</key>
	<string>261284672668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.itis.ITISRequest</string>
	<key>PROJECT_ID</key>
	<string>itisrequest-6b818</string>
	<key>STORAGE_BUCKET</key>
	<string>itisrequest-6b818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261284672668:ios:014aa852a76c9b10152959</string>
</dict>
</plist>